---
layout: page
title: "About"
description: "Hey, this is Borg."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>不会python的R程序员不是好数据科学家。</p></blockquote>

    <h5>自我介绍</h5>
    <p>一名误入翻译专业的理科生，热衷于在线教育，希望通过自学成为程序猿。擅长R语言数据分析，熟悉基本的机器学习算法并能通过python实现，可见<a href="https://github.com/BigBorg/Machine-Learning-Content">github repo</a>。同时在自学Java和Hadoop，希望能进入机器学习领域，尤其对推荐系统感兴趣。</p>

    <h5>教育背景</h5>
    <p>2013-2017 西安外国语大学 翻译专业本科</p>

    <h5>技能</h5>

    <ul>
    <li>R</li>
    <li>机器学习</li>
    <li>python</li>
    <li>Java</li>
    <li>英语(专业四级)</li>
    </ul>


    <h5>实践项目</h5>
<ul>
	<li>小米手环数据分析
		<ul>
    		<li><a href="/my_html/MiBand_report/MiBand_report.html">数据分析报告</a></li>
		<li><a href="https://bigborg.shinyapps.io/MiBand/">数据分析web应用(shiny服务器国内网络可能较慢)</li>
    		<li><a href="/my_html/MiBand_slidify/MiBand_slidify.html">数据分析slidify展示</a></li>
    		</ul>
	</li>
	<li><a href="http://htmlpreview.github.io/?https://github.com/BigBorg/Assignments-for-Datascience/blob/master/Practical%20Machine%20Learning%20Project/project.html">Human Activity Recognition</a></li>

</ul>

	<h5>联系方式</h5>
	<ul class="list-unstyled">
	<li>手机: 18350722053, 18691847995 (陌生号码请先短信联系) </li>
	<li>邮件: lbgandthesun@126.com, 770188954@qq.com</li>
	<li>微信: lbgandthesun</li>
	</ul>
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p>Love R, Love python, Love data science.</p></blockquote>

    <h5>Introduction</h5>    
    <p>I am a translation specialized student who actually favors in programming. I've learned quite many online courses in [Coursera](www.coursera.org) like data science, machine learning, etc. Among my skills, I am most proud of my R programming for data science. Machine learning also attracts me much. I've been learning machine learning algorithm(See my <a href="https://github.com/BigBorg/Machine-Learning-Content">github repo</a>) and planning to learn Hadoop.</p>

    <h5>Education</h5>
    <p>2013-2017 Bachelor of Translation, Xi'an International Studies University</p>

    <h5>Skills</h5>

    <ul>
    <li>R</li>
    <li>Machine Learning</li>
    <li>python</li>
    <li>Java</li>
    <li>English/Chinese</li>
    </ul>


    <h5>Projects</h5>

<ul>
	<li>MiBand Data Visualization
		<ul>
    		<li><a href="/my_html/MiBand_report/MiBand_report.html">R report</a></li>
		<li><a href="https://bigborg.shinyapps.io/MiBand/">shiny web(Network access to shiny server might not work well for some regions.)</li>
    		<li><a href="/my_html/MiBand_slidify/MiBand_slidify.html">slidify presentation</a></li>
    		</ul>
	</li>
	<li><a href="http://htmlpreview.github.io/?https://github.com/BigBorg/Assignments-for-Datascience/blob/master/Practical%20Machine%20Learning%20Project/project.html">Human Activity Recognition</a></li>

</ul>

	<h5>Contact</h5>
	<ul class="list-unstyled">
	<li>Tel: 18350722053, 18691847995 (message first please) </li>
	<li>Email: lbgandthesun@126.com, 770188954@qq.com</li>
	<li>Wechat: lbgandthesun</li>
	</ul>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
